/* ------- valores globales -------*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./Img/ui/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0.8vw;
    background: #565656;
}

body::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-left: 2px solid #565656;
    border-radius: 10px;
}


/* ------- Efectos -------*/

.fixedTop {
    position: fixed;
    top: 0;
}

.displayNone {
    display: none;
}

.effectOpacity {
    opacity: 0;
}

.effectSpacingLetter {
    letter-spacing: -12px!important;
}

.links {
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    color: #f14c62;
    transition: 200ms;
}

.links:hover {
    color: #ace7eb;
    background-color: #565656;
    border-radius: 0.2rem;
    padding: 0.2rem 0rem;
}

.separator {
    background: #565656;
    background: linear-gradient(90deg, #5656563e 0%, #565656 50%, #56565628 100%);
    width: 65%;
    height: 0.1rem;
    margin-left: 17.5%;
}

.backgroundGradientDark {
    background: #a3a3a3;
    background: linear-gradient(90deg, #a3a3a300 0%, #a3a3a34b 29%, #717171d2 89%);
}


/* ------- Definición de animaciones -------*/

@keyframes progressAnim {
    0% {
        stroke-dasharray: 2000;
    }
}


/* ------- Encabezado, nombre y foto -------*/

.headerContainerBig {
    width: 100%;
    height: 18rem;
    background-color: #565656;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#codeLogo {
    font-size: 18rem;
    color: #494949;
}

.name {
    margin-right: 23vw;
    margin-top: 10rem;
    font-family: 'Hubballi', cursive;
    color: #b5eecd;
    font-weight: bold;
    font-size: 2.3rem;
}

.profileContainer {
    width: 42%;
    height: 14rem;
    display: flex;
    justify-content: flex-end;
    margin-top: -10.5rem;
    position: absolute;
}

.profile {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    padding: 1%;
    background-color: #b5eecd;
}


/* ------- Navbar -------*/

.phantomContainer {
    height: 5rem;
}

.navbar {
    height: 5rem;
    width: 100%;
    background-color: #b5eecd;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.navbarBrand {
    display: flex;
    align-items: center;
    transition: 200ms;
}

.codeMinilogo {
    background-color: #565656;
    color: aliceblue;
    padding: 1rem 0.8rem;
    font-size: 250%;
    border-radius: 100rem;
    margin: 0 1rem;
}

.miniName {
    font-family: 'Hubballi', cursive;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 200%;
    transition: 900ms;
}

.effect-spacing-letter {
    letter-spacing: -12px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    border-radius: 1rem;
    transition: 300ms;
    margin: 1.2rem 2.5rem;
}

.navigation li:hover {
    background-color: #f0c3a2;
    padding: 1.2rem 1.5rem;
    margin: 0 1rem;
}

.navigation li a {
    text-decoration: none;
    color: #494949;
}

.navActived {
    background-color: #f0c3a2;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    margin: 0!important;
}


/* ------- MiniAbout / Acerda de... -------*/

.miniAboutContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.miniAbout {
    background-color: #565656;
    width: 70%;
    height: 15rem;
    display: flex;
    align-items: center;
    margin: 10vh 0;
}

.miniAbout h2 {
    width: 40%;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    color: #b5eecd;
    font-size: 225%;
}

.miniAboutTextContainer {
    width: 60%;
    margin: 0 2rem;
}

.miniAboutText {
    color: #e0e0e0;
    font-family: 'League Spartan', sans-serif;
    font-size: 110%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}


/* ------- Portfolio y proyectos -------*/

.portfolioContainer {
    width: 100%;
    background-color: #e8ba86;
}

.portfolio {
    padding: 4rem 2rem;
}

.portfolioTitle h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 200%;
    color: #373737;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.projects {
    background-color: #565656;
    width: 19rem;
    height: 24rem;
    border-radius: 10px;
    transition: 250ms;
    display: flex;
    flex-wrap: wrap;
}

.projects:hover {
    width: 19.5rem;
    height: 24.5rem;
    margin-top: -0.3rem;
}

.projectsMargin {
    margin: 0.5rem;
}

.projectsImgMain {
    width: 100%;
    height: 10rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projectsTextContainer {
    color: #e0e0e0;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.projectsTitle {
    margin: 1rem 0;
    font-size: 130%;
}

.projectsText {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.projectsMoreInfoText {
    color: #f14c62;
    align-self: flex-end;
    font-family: 'League Spartan', sans-serif;
    margin: 0.5rem 0.5rem;
}


/* ------- Habilidades -------*/

.skillsContainerMargin {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.skillsContainer {
    width: 90%;
    background-color: #565656;
    font-family: 'League Spartan', sans-serif;
}

.skillsMainTitle {
    text-align: center;
    margin: 4rem 0 1rem 0;
    color: #b5eecd;
    font-size: 200%;
}

#skillsSeparator {
    background: linear-gradient(90deg, #5656563e 0%, #b5eecd 50%, #56565628 100%);
}

.skillsMeterContainer {
    margin: 3.5rem 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skillsMeter {
    width: 100%;
    height: 17rem;
    width: 17rem;
    margin: 2rem 2rem;
}

.skillsMeterOuter {
    box-shadow: 5px 5px 10px #4a4a4a, -2px -2px 5px #6d6d6d;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsMeterInner {
    border-radius: 100%;
    box-shadow: inset 5px 5px 10px #4a4a4a, inset -2px -2px 12px #666363;
    height: 12.5rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progressColor {
    position: absolute;
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 35px;
    stroke-dashoffset: 2000;
    stroke-dasharray: 2730;
    animation: progressAnim 1700ms linear forwards;
}

.progressMeter {
    position: absolute;
    transform: rotateZ(-90deg);
}

.icons {
    font-size: 500%;
}

.skillNameDisplayed {
    font-size: 150%;
    color: #b5eecd;
    text-shadow: 1.5px 1.5px 4px #373737;
}

.percentageDisplayed {
    font-size: 150%;
    color: #b5eecd;
    text-shadow: 1.5px 1.5px 4px #373737;
}

.fa-html5 {
    color: #e45a3f;
}

.fa-css3 {
    color: #01aeea;
}

.fa-js-square {
    color: #ead41c;
}

.fa-bootstrap {
    color: #7d11f0;
}

.fa-react {
    color: #00d6fe;
}

.fa-node {
    color: #63b649;
}


/* ------- Footer -------*/

.footerContainer {
    background-color: #565656;
}

.footer {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.credits {
    color: #e0e0e0;
    font-size: 80%;
    margin: 0 4rem;
}

.social {
    width: 35%;
}

.social h4 {
    color: #e0e0e0;
    font-size: 130%;
}

.listSocial {
    display: flex;
    list-style: none;
}

.socialMedia {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem 0.8rem 0 0;
}

.mediaIcon {
    width: 100%;
}

.fa-github {
    font-size: 250%;
    color: #7c2ada;
}


/* ------- Estilos de las ventanas Modal -------*/

.modalContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000082;
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    z-index: 11;
}

.modal {
    background-color: #494949;
    border-radius: 1rem;
    width: 70%;
    height: 70%;
    box-shadow: 0px 0px 15px #212121;
}

.modalHeader {
    display: flex;
}

.modalTitle {
    margin: 1% 1% 1% 3%;
    font-family: 'League Spartan', sans-serif;
    font-size: 200%;
    color: #e0e0e0;
    text-align: center;
    width: 95%;
}

.modalCloseButton {
    width: 3%;
    height: 5%;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 200%;
    position: absolute;
    right: 16%;
    border: none;
    background-color: #00000000;
    transition: 900ms;
    color: #e0e0e0;
}

.modalCloseButton:hover {
    transform: rotateZ(360deg);
}

.modalSeparator {
    margin: 0 1rem;
    border-color: #606060;
}

.modalContent {
    display: flex;
    height: 82%;
    margin: 1%;
}

.modalGallery {
    width: 50%;
    height: 85%;
    margin: 0 1%;
    background-color: #3c3c3c;
}

.modalGallerySlider {
    width: 100%;
    margin-top: 1rem;
    list-style: none;
}

.modalGallerySlider li {
    width: 31.4rem;
    position: absolute;
    opacity: 0;
    transition: opacity 500ms;
}

.modalGallerySlider li:first-child {
    opacity: 1;
}

.modalGallerySlider li:target {
    opacity: 1;
}

.modalGallerySlider li img {
    width: inherit;
    object-fit: cover;
    height: 15rem;
}

.modalGalleryPreviewer {
    list-style: none;
    display: flex;
    transform: translateY(17rem);
    justify-content: space-evenly;
    margin: 0 1rem;
}

.modalGalleryPreviewer li {
    background-color: #303030;
    padding: 2px;
}

.modalGalleryPreviewer li img {
    width: 5.7rem;
    height: 2.5rem;
    object-fit: cover;
}

.modalInfo {
    width: 50%;
    height: 100%;
    color: #e0e0e0;
    font-family: 'League Spartan', sans-serif;
    line-height: 1.7rem;
    font-size: 110%;
    margin: 0 1%;
    display: flex;
    flex-wrap: wrap;
}

.modalButtons {
    text-decoration: none;
    color: #e0e0e0;
    display: flex;
    align-items: flex-end;
}

.modalSeeCode {
    color: #e0e0e0;
}

.modalPositionIconGit {
    background-color: #7c2ada;
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    transition: 300ms;
}

.modalIconGit {
    font-size: 200%;
    padding: 0 0.8rem;
}

.modalIconGitText {
    width: 5rem;
    position: absolute;
    transform: translateX(3.5rem);
    pointer-events: none;
    transition: 100ms;
}

.modalSeePage {
    color: #353535;
    text-decoration: none;
    padding: 0.8rem;
    background-color: #4cf17b;
    border-radius: 1rem;
    transition: 200ms;
    margin-right: 1rem;
}

.modalSeePage:hover {
    background-color: #b5eecd;
}


/* ------- NUEVA PÁGINA: Aquí inician las reglas de estilos aplicadas a elementos de la página About -------*/


/* ------- ¿Quien soy? -------*/

.whoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.who {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.infoTitle {
    width: 40%;
    text-align: center;
    font-family: 'lobster', cursive;
    font-size: 250%;
}

.infoText {
    width: 60%;
    font-family: 'League Spartan', sans-serif;
    font-size: 120%;
    line-height: 2rem;
}

.studiesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.studies {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.toOfferContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.toOffer {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.toOfferList {
    list-style: inside square;
}

.differentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.different {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.trustContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.trust {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 2rem;
}