@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Img/ui/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* ------- Encabezado, nombre y foto -------*/

.headerContainerBig {
    width: 100vw;
    height: 18rem;
    background-color: #565656;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#codeLogo {
    font-size: 18rem;
    color: #494949;
}

.name {
    margin-right: 23vw;
    margin-top: 10rem;
    font-family: 'Hubballi', cursive;
    color: #b5eecd;
    font-weight: bold;
    font-size: 2.3rem;
}

.profileContainer {
    width: 75%;
    height: 14rem;
    display: flex;
    justify-content: center;
    margin-top: -10.5rem;
}

.profile {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    padding: 0.7rem;
    background-color: #b5eecd;
}


/* ------- Navbar -------*/