/* ------- valores globales -------*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./Img/ui/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* ------- Modificadores de comportamiento -------*/

.effectOpacity {
    opacity: 0;
}

.effectSpacingLetter {
    letter-spacing: -12px!important;
}

.links {
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    color: #f14c62;
    transition: 200ms;
}

.links:hover {
    color: #ace7eb;
    background-color: #565656;
    border-radius: 0.2rem;
    padding: 0.2rem 0rem;
}

.separator {
    background: #565656;
    background: linear-gradient(90deg, #5656563e 0%, #565656 50%, #56565628 100%);
    width: 65%;
    height: 0.1rem;
    margin-left: 17.5%;
}


/* ------- Encabezado, nombre y foto -------*/

.headerContainerBig {
    width: 100%;
    height: 18rem;
    background-color: #565656;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#codeLogo {
    font-size: 18rem;
    color: #494949;
}

.name {
    margin-right: 23vw;
    margin-top: 10rem;
    font-family: 'Hubballi', cursive;
    color: #b5eecd;
    font-weight: bold;
    font-size: 2.3rem;
}

.profileContainer {
    width: 42%;
    height: 14rem;
    display: flex;
    justify-content: flex-end;
    margin-top: -10.5rem;
    position: absolute;
}

.profile {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    padding: 1%;
    background-color: #b5eecd;
}


/* ------- Navbar -------*/

.navbar {
    height: 5rem;
    width: 100%;
    background-color: #b5eecd;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarBrand {
    display: flex;
    align-items: center;
}

.codeMinilogo {
    background-color: #565656;
    color: aliceblue;
    padding: 1rem 0.8rem;
    font-size: 250%;
    border-radius: 100rem;
    margin: 0 1rem;
}

.miniName {
    font-family: 'Hubballi', cursive;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 200%;
}

.effect-spacing-letter {
    letter-spacing: -12px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    border-radius: 1rem;
    transition: 300ms;
    margin: 1.2rem 2.5rem;
}

.navigation li:hover {
    background-color: #f0c3a2;
    padding: 1.2rem 1.5rem;
    margin: 0 1rem;
}

.navigation li a {
    text-decoration: none;
    color: #494949;
}

.navActived {
    background-color: #f0c3a2;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    margin: 0!important;
}


/* ------- MiniAbout / Acerda de... -------*/

.miniAboutContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.miniAbout {
    background-color: #565656;
    width: 70%;
    height: 15rem;
    display: flex;
    align-items: center;
    margin: 10vh 0;
}

.miniAbout h2 {
    width: 40%;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    color: #b5eecd;
    font-size: 225%;
}

.miniAboutTextContainer {
    width: 60%;
    margin: 0 2rem;
}

.miniAboutText {
    color: #e0e0e0;
    font-family: 'League Spartan', sans-serif;
    font-size: 110%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}


/* ------- Portfolio y proyectos -------*/

.portfolioContainer {
    width: 100%;
    background-color: #e8ba86;
}

.portfolio {
    padding: 4rem 2rem;
}

.portfolioTitle h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem
}

.projects {
    background-color: #565656;
    width: 19rem;
    height: 24rem;
    border-radius: 10px;
}

.projectMargin {
    margin: 0.5rem;
}

.projectsImgMain {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}