@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
body {
    background-image: url(../public/img/ui/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* ------- Encabezado, foto y navbar -------*/

.header-container-b {
    height: 18rem;
    width: 100%;
    background-color: #565656;
}

#code-logo {
    font-size: 1800%;
    position: absolute;
    color: #494949;
}

.header-container-s {
    height: 5rem;
    width: 100%;
    background-color: #b5eecd;
    transition: 200ms;
}

.opacity {
    opacity: 1;
}

.name-container {
    margin-left: 45%;
    padding-top: 11rem;
}

.name {
    font-size: 240%;
    font-family: 'Hubballi', cursive;
    color: #b5eecd;
    font-weight: bold;
}